{% extends 'base.html' %}
{% block title %}Рецепты{% endblock %}
    {% load static recipes_tags %}
    {% include 'nav.html' with index=True %}
    {% block content %}
        {% csrf_token %}
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            <ul class="tags">
                {% with filter_values=request.GET|get_filter_values %}
                    {% for tag in tags %}
                    <li class="tags__item">
                        <a 
                        id="{{ tag.value }}" 
                        class="tags__checkbox tags__checkbox_style_{{tag.color}} 
                        {% if tag.value in filter_values  %}tags__checkbox_active{% endif %}" 
                        href="{% url 'recipes:index' %}?{{ request|get_filter_link:tag }}"
                        ></a>
                        <span class="tags__label">{{ tag.title }}</span>
                    </li>
                    {% endfor %}
                {% endwith %}
                </li>
            </ul>
        </div>
        
        <div class="card-list">
        {% for recipe in page %}
            {% include 'recipeCard.html' %}
        {% endfor %}
        </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %}

    <script src="{% static 'js/config/config.js' %}"></script>

    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchpurachases.js' %}"></script>
    <script src='{% static "js/components/CardList.js"%}'></script>
    <script src='{% static "js/components/Header.js"%}'></script>
    
    <script src="{% static 'js/api/Api.js' %}"></script>
    {% if user.is_authenticated %}
    <script src='{% static "js/components/Favorites.js" %}'></script>
    <script src='{% static "indexAuth.js" %}'></script>
    {% else %}
    <script src='{% static "indexNotAuth.js" %}'></script>
    {% endif %}
{% endblock %}
