<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                <li class="nav__item nav__item_active"><a href="/" class="nav__link link">Рецепты</a></li>
                <li class="nav__item"><a href="{% url 'recipes:my_follow' %}" class="nav__link link">Мои подписки</a></li>
                <li class="nav__item"><a href="/recipes/new/" class="nav__link link">Создать рецепт</a></li>
                <li class="nav__item"><a href="{% url 'recipes:favorites_view' %}" class="nav__link link">Избранное</a></li>
                <li class="nav__item"><a href="{% url 'recipes:cart_view' %}" class="nav__link link">Список покупок</a> 
                    <span class="badge badge_style_blue nav__badge" id="counter">{{ counter }}</span>
                </li>

            </ul>
            <ul class="nav__items list">
                <li class="nav__item"><a href="/auth/password_change/" class="nav__link link">Изменить пароль</a></li>
                <li class="nav__item"><a href="/auth/logout/" class="nav__link link">Выход</a></li>
            </ul>
        </div>
    </nav>
</header>