{% load static recipes_tags %}
<div class="card" data-id="{{ recipe.id }}">
    <a href="{% url 'recipes:single_recipe' recipe.author.username recipe.id %}" class="link" >
        <img src="{{ recipe.image.url }}" alt="Какой-то текст" class="card__image">
    </a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipes:single_recipe' recipe.author.username recipe.id %}">{{ recipe.title }}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
                {% if tag in tags %}
                    <li class="card__item"><span class="badge badge_style_{{tag.color}}">{{ tag.title }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.duration }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'recipes:profile' recipe.author.username %}" style="color: black">{{ recipe.author }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% if user.is_authenticated %}
            {% if recipe|is_in_cart:user %}
                <button class="button button_style_light-blue" name="purchpurchases" ><span class="icon-plus button__icon"></span>Удалить из покупок</button>
            {% else%}
                <button class="button button_style_light-blue" name="purchpurchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
            {% endif %}
            {% if recipe|is_in_favorites:user %}
                <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
            {% else %}
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
            {% endif %}
        {% endif %}
    </div>
</div>