{% extends 'base.html' %}
{% block title %}Список покупок{% endblock %}
    {% load static recipes_tags %}
    {% block static %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
    {% endblock %}
    {% block content %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% csrf_token %}
            {% for item in cart %}
            <li class="shopping-list__item" data-id="{{item.recipe.id}}">
                <div class="recipe recipe_reverse">
                    <img src="{{ item.recipe.image.url }}" alt="{{item.recipe.title}}" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">{{ item.recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ item.recipe.duration }} мин.</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'recipes:download' %}" class="button button_style_blue">Скачать список</a>


    </div>

<script src="{% static 'js/config/config.js' %}"></script>
<script src='{% static "js/components/Header.js"%}'></script>
<script src="{% static 'js/components/ShopList.js'%}"></script>
<script src="{% static 'js/components/Header.js'%}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src='{% static "ShopList.js" %}'></script>
{% endblock %}
